*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.section{
    width: 100%;
    min-height: 100vh;
}

.container{
    width: 80%;
    display: block;
    margin: auto;
    padding-top: 100px;
}

.content-section{
    float: left;
    width: 55%;
}

.image-section{
    float: right;
    width: 40%;
}
.image-section img{
    width: 100%;
    height: auto;
}

.content-section .title{
    text-transform: uppercase;
    font-size: 28px;
}

.h-primary-a{
    text-decoration: solid;
    text-align: center;
    margin: 20px;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 2.8rem;
    padding: 25px;
}

.content-section .content h3{
    font-family: 'Montserrat', sans-serif;
    margin-top: 20px;
    color: #5d5d5d;
    font-size: 21px;
}

.content-section .content p{
    font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
}

@media screen and (max-width: 768px){
    .container{
        width: 80%;
        display: block;
        margin: auto;
        padding-top: 50px;
    }
    .content-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section{
        float: none;
        width: 100%;
        display: block;
        margin: auto;
    }
    .image-section img{
       width: 100%;
       height: auto;
       display: block;
       margin: auto;
       margin-top: 25px;
    }
    .content-section title{
        text-align: center;
        font-size: 19px;
    }
}